:root {
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;

	color-scheme: light;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	position: relative;
	margin: 0 auto;
	padding: 2rem;

	display: grid;
	grid-template:
		'. main .' 1fr
		'. footer .' max-content / auto minmax(auto, 1280px) auto;
}
