:root {
	font-family: 'Courier Prime', 'Courier New', Courier, monospace;
	font-size: 16px;
	line-height: 24px;
	font-weight: normal;

	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--light-link-color: #3131dd;
	--light-link-visited-color: #551a8b;
	--light-background-color: white;
	--light-text-color: black;
	--light-accent-background-color: #404040;
	--light-accent-color: white;
	--light-box-background-color: #f0f0f0;

	--dark-link-color: #9e9eff;
	--dark-link-visited-color: #d0adf0;
	--dark-background-color: #121212;
	--dark-text-color: white;
	--dark-accent-background-color: #eeeeee;
	--dark-accent-color: black;
	--dark-box-background-color: #2c2c2c;

	--link-color: var(--light-link-color);
	--link-visited-color: var(--light-link-visited-color);
	--background-color: var(--light-background-color);
	--text-color: var(--light-text-color);
	--accent-background-color: var(--light-accent-background-color);
	--accent-color: var(--light-accent-color);
	--box-background-color: var(--light-box-background-color);
}

* {
	box-sizing: border-box;
	visibility: inherit;
}

html {
	background: var(--background-color);
	width: 100%;
	max-width: 100%;
	scrollbar-gutter: stable;
	color: var(--text-color);
}

html:has(dialog[open]) {
	overflow: hidden;
}

body {
	margin: 0;
	min-height: 100vh;
	max-width: 100%;
	width: 100%;
	overflow-x: hidden;
	position: relative;
	margin: 0 auto;
	padding: 1rem;

	display: grid;
	grid-template:
		'. header .' max-content
		'. main .' 1fr
		'. footer .' max-content / auto minmax(auto, 1280px) auto;
}

pre {
	overflow: auto;
}

a:not(:visited) {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

button:hover {
	cursor: pointer;
}

.link-button {
	font: unset;
	background: unset;
	border: unset;
	text-decoration: underline;
	color: var(--link-color);
	cursor: pointer;
}

.link-button:disabled {
	color: unset;
	opacity: 0.5;
	cursor: default;
}

summary {
	cursor: pointer;
}

.bbcode-spoiler {
	font: unset;
	background: unset;
	padding: 0;
	border: none;

	outline-offset: 2px;
	color: transparent;
	background-color: #404040;
	transition: color, background-color 0.2s;
	cursor: pointer;
	line-height: normal;
	padding-inline: 2px;
}

.bbcode-spoiler > :first-child {
	visibility: hidden;
}

.bbcode-spoiler-revealed {
	background-color: #40404040;
	color: inherit;
}

.bbcode-spoiler-revealed > :first-child {
	visibility: unset;
}

.spinner-container::after {
	content: '';
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(0deg);
	border: 4px solid transparent;
	border-top: 4px solid white;
	border-right: 4px solid white;
	width: 2rem;
	height: 2rem;
	border-radius: 2rem;

	animation-name: spinner-spin;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	z-index: 1;
}

@keyframes spinner-spin {
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

:root[data-theme='light'] {
	color-scheme: light;
}

:root[data-theme='dark'] {
	--link-color: var(--dark-link-color);
	--link-visited-color: var(--dark-link-visited-color);
	--background-color: var(--dark-background-color);
	--text-color: var(--dark-text-color);
	--accent-background-color: var(--dark-accent-background-color);
	--accent-color: var(--dark-accent-color);
	--box-background-color: var(--dark-box-background-color);
	color-scheme: dark;
}

[hidden] {
	visibility: hidden;
}
