@use "sass:color";

$accent: rgb(201, 33, 33);
$accent-backdrop: color.change(
	$color: $accent,
	$lightness: 30%,
	$alpha: 0.3,
);

$primary: dodgerblue;
$primary-backdrop: color.change(
	$color: $primary,
	$lightness: 30%,
	$alpha: 0.3,
);
$primary-text: white;

$text: black;
