@use "sass:color";

$accent: rgb(216, 158, 221);
$accent-backdrop: color.change(
	$color: $accent,
	$lightness: 30%,
	$alpha: 0.3,
);

$primary: dodgerblue;
$primary-light: color.adjust(
	$color: $primary,
	$lightness: 10%,
);
$primary-backdrop: color.change(
	$color: $primary,
	$lightness: 30%,
	$alpha: 0.3,
);
$primary-text: white;

$text: black;
