@use 'form.scss';
@use 'button.scss';
@use 'typography';

body,
#__nuxt,
#__layout,
#__root {
	width: 100%;
	min-width: 100%;
	min-height: 100vh;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	outline: initial;
	border: initial;
	background-color: initial;
}
